.uploader {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.uploader + label {
    background: #2c98e3;
    padding: 9px 15px;
    color: #FFF;
    font-weight: 700;
    display: inline-block;
    cursor: pointer; /* "hand" cursor */
}
.cancelButton{
    background: #e3584c;
    padding: 9px 15px;
    color: #FFF;
    font-weight: 700;
    display: inline-block;
    cursor: pointer;
}